.bg-primary {
  background-color: var(--primary) !important;
}

.bg-success {
  background-color: var(--success) !important;
}

.text-color {
  color: #f5f5dc;
}

h1, h2, h3, h4 {
    font-family: "Raleway", Arial, serif;
}

p, a {
    font-family: "Nunito", Arial, sans-serif;
}