/* DEBUT Régles génerales */

.bg-primary {
  background-color: var(--primary) !important;
}

.bg-success {
  background-color: var(--success) !important;
}

.text-color {
  color: var(--success);
}

.text-titre {
  color: var(--secondary);
}

h1,
h2,
h3,
h4 {
  font-family: "Raleway", Arial, serif;
}

p,
a {
  font-family: "Nunito", Arial, sans-serif;
}

a {
  text-decoration: none;
  color: var(--success);
}

a:hover {
  color: #e1e1ca;
}

@media screen and (max-width: 480px) {
  a.btn {
    font-size: 12px;
    padding: 8px 15px;
  }
}

@media screen and (max-width: 480px) {
  p,
  h1,
  h3 {
    font-size: 14px;
  }
}

/* FIN Régles Générales */

/* DEBUT Header */

.nav-link {
  --bs-nav-link-color: var(--success);
  --bs-nav-link-hover-color: #e1e1ca;
}

.navbar-brand {
  --bs-navbar-brand-color: var(--success);
  --bs-navbar-brand-hover-color: #e1e1ca;
  font-family: "Pacifico", Arial, Helvetica, sans-serif;
}

.navbar-toggler {
  background-color: var(--primary);
  border-color: var(--success);
}

.navbar-toggler svg {
  fill: var(--success);
}

/* FIN Header */

/* DEBUT Page d'accueil */

.home-hero-scene {
  position: relative;
  height: 100vh;
}

@media screen and (max-width: 480px) {
  .home-hero-scene {
    position: relative;
    height: 250px;
  }
}

.img-home-hero {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.home-hero-content {
  position: absolute;
  top: 15%;
  left: 10%;
}

.carousel-item img {
  width: 100%;
  height: 250px;
}

@media (min-width: 992px) {
  .carousel-item img {
    height: 450px;
    object-fit: cover;
  }
}



/* FIN Page d'accueil */
