/* DEBUT Régles génerales */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.bg-success {
  background-color: var(--success) !important;
}

.text-color {
  color: var(--success);
}

.text-titre {
  color: var(--secondary);
}

h1,
h2,
h3,
h4 {
  font-family: "Raleway", Arial, serif;
}

p,
a,
button {
  font-family: "Nunito", Arial, sans-serif;
}

a {
  text-decoration: none;
  color: var(--success);
}

a:hover {
  color: #e1e1ca;
}

@media screen and (max-width: 480px) {
  a.btn {
    font-size: 12px;
    padding: 8px 15px;
  }
}

@media screen and (max-width: 480px) {
  p,
  h1,
  h3 {
    font-size: 14px;
  }
}

.text-justify {
  text-align: justify;
}

/* FIN Régles Générales */

/* DEBUT Header */

.nav-link {
  --bs-nav-link-color: var(--success);
  --bs-nav-link-hover-color: #e1e1ca;
}

.navbar-brand {
  --bs-navbar-brand-color: var(--success);
  --bs-navbar-brand-hover-color: #e1e1ca;
  font-family: "Pacifico", Arial, Helvetica, sans-serif;
}

.navbar-toggler {
  background-color: var(--primary);
  border-color: var(--success);
}

.navbar-toggler svg {
  fill: var(--success);
}

/* FIN Header */

/* DEBUT Page d'accueil */

.home-hero-scene {
  position: relative;
  height: 100vh;
}

@media screen and (max-width: 480px) {
  .home-hero-scene {
    position: relative;
    height: 250px;
  }
}

.img-home-hero {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.home-hero-content {
  position: absolute;
  top: 15%;
  left: 10%;
}

/* Style des cards pour les habitats */

.habitat-card {
  width: 100%;
  height: 200px;
}

@media (min-width: 780px) {
  .habitat-card {
    height: 350px;
    object-fit: cover;
  }
}

/* Style du carousel */

.carousel-item img {
  width: 100%;
  height: 250px;
}

@media (min-width: 780px) {
  .carousel-item img {
    height: 500px;
    object-fit: cover;
  }
}

/* Style des cards pour les  animaux  */

.animal-card {
  width: 100%;
  height: 200px;
}

@media (min-width: 780px) {
  .animal-card {
    height: 350px;
    object-fit: cover;
  }
}

/* Style des avis */

.avis-item {
  min-height: 300px;
}

.avis-submit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 780px) {
  .avis-submit {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

/* FIN Page d'accueil */

/* DEBUT Page Services */

.hero-scene {
  position: relative;
  height: 100vh;
}

@media screen and (max-width: 480px) {
  .hero-scene {
    position: relative;
    height: 250px;
  }
}

.img-hero {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}

/* FIN Page Services */

.habitat-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

@media screen and (max-width: 480px) {
  .habitat-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
}

.image-card {
  position: relative;
}

.image-card:hover .titre-image,
.image-card:hover .action-image-buttons {
  opacity: 1;
}

.image-card:hover img {
  filter: brightness(0.3);
}

.image-card img {
  transition: all 0.4s;
}

.image-card .titre-image {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s;
}

.image-card .action-image-buttons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition: all 0.3s;
}

